PORT=3000

# Evolution API (VPS)
EVOLUTION_URL=https://evolution.reditz.ia.br
EVOLUTION_KEY=sua-api-key-aqui
EVOLUTION_INSTANCE=Ana

# WhatsApp da Paula (só números + DDI)
PAULA_WHATSAPP=559284916098

# Link do grupo WhatsApp
LINK_GRUPO=https://chat.whatsapp.com/HRKM7t5DY54Da7HUoFiIXi
